@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;700&display=swap");

:root {
	--primary-color: #6c63ff;
	--secondary-color: #f5f2fe;
	--font-primary: Playfair Display, serif;
	--font-secondary: Poppins, sans-serif;
}

body {
	margin: 10px auto;
	max-width: 1440px;
}

.hero h4 {
	font-family: var(--font-secondary);
	font-size: 36px;
	text-align: center;
	color: #272142;
	font-weight: 700;
	padding-top: 275px;
}

h1 {
	font-family: var(--font-primary);
	font-weight: 700;
	color: #000000;
}

.hero h1 {
	text-align: center;
	font-size: 96px;
}

.hero h3 {
	font-family: var(--font-secondary);
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	color: #272142;
	margin-top: 25px;
}

.hero {
	background: #f9f7fe;
	height: 900px;
}

.navigation-links {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}

.navigation-links .btn-primary,
.about-section-content .btn-primary {
	padding: 18px 46px;
	text-decoration: none;
	text-transform: capitalize;
	color: #ffffff;
	font-family: var(--font-secondary);
	font-weight: 500;
	font-size: 18px;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #6c63ff;
	border: 1px solid #6c63ff;
	margin-top: 50px;
}

.info {
	font-family: var(--font-secondary);
	font-weight: 400;
	font-size: 18px;
	color: #272142;
}

.aboutProject {
	font-family: var(--font-secondary);
	font-weight: 400;
	font-size: 16px;
	color: #272142;
	line-height: 1.5;
}

.btn-branding-outline {
	border-radius: 4px;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.project-descriptions-women {
	padding: 120px 60px;
}

.project-descriptions {
	padding: 20px 40px;
}

.inquiry {
	background: #f9f7fe;
	height: 200px;
	border-radius: 20px;
	margin: 100px 0 80px 0;
}

.inquiry-text h2 {
	font-family: var(--font-primary);
	font-weight: 700;
	font-size: 48px;
	color: #000000;
	margin: 50px auto 18px 115px;
}

.inquiry-text p,
.github {
	font-family: var(--font-secondary);
	font-weight: 400;
	font-size: 18px;
	color: rgba(39, 33, 66, 0.7);
	margin-left: 115px;
}

.contact-btn .btn-primary {
	padding: 18px 38px;
	margin-top: 70px;
	text-decoration: none;
	text-transform: capitalize;
	color: #ffffff;
	font-family: var(--font-secondary);
	font-weight: 500;
	font-size: 18px;
	border-radius: 5px;
	background-color: #6c63ff;
	border: 1px solid #6c63ff;
}
.email {
	text-align: center;
	margin-bottom: 50px;
}
.email a {
	font-family: var(--font-secondary);
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	text-decoration: none;
}

.email a:hover {
	color: var(--primary-color);
}

.link {
	text-align: center;
}

.email-link {
	margin: 0 20px;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
	background: var(--secondary-color);
	border-radius: 50%;
	padding: 10px;
	transition: all 100ms ease-in-out;
}

.email-link:hover {
	text-decoration: underline;
	color: white;
	background: var(--primary-color);
}

.foto {
	width: 700px !important;
	height: auto !important;
}
.foto-women {
	width: auto !important;
	height: 560px !important;
}

.about-section,
.content-container {
	padding: 160px 20px;
}

.about-section h1,
.content-container h1 {
	font-size: 64px;
	line-height: 80px;
}

.about-section p {
	font-size: 18px;
	font-family: var(--font-secondary);
}

.content h3 {
	font-size: 24px;
	line-height: 1.5;
	font-family: var(--font-secondary);
}

.friebds-container {
	position: relative;
	top: -340px;
}

.content p {
	font-size: 14px;
}

.my-foto {
	width: 420px;
	height: 400px;
}

.logo {
	max-height: 40px;
}

nav {
	padding: 20px 0;
}
nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	list-style: none;
	line-height: 40px;
	margin-left: 10px;
	font-family: var(--font-secondary);
	font-size: 16px;
	font-weight: 500;
}

nav a {
	text-decoration: none;
	color: #272142;
	transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
	color: var(--primary-color);
}

@media (max-width: 576px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 35px;
		text-align: center;
	}
	.project-descriptions,
	.project-descriptions-women {
		padding: 0;
		text-align: center;
	}
	.about-section {
		text-align: center;
		padding: 0;
	}
	.friebds-container {
		position: static;
	}
	nav a {
		font-size: 12px;
	}
}
