@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;700&display=swap");

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --font-primary: Playfair Display, serif;
  --font-secondary: Poppins, sans-serif;
}

body {
  margin: 10px auto;
  max-width: 1440px;
}

.hero h4 {
  font-family: var(--font-secondary);
  font-size: 36px;
  text-align: center;
  color: #272142;
  font-weight: 700;
  padding-top: 275px;
}

.hero h1 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 96px;
  color: #000000;
  text-align: center;
}

.hero h3 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #272142;
  margin-top: 25px;
}

.hero {
  background: #f9f7fe;
  height: 900px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.btn-primary {
  padding: 18px 46px;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  margin-top: 50px;
}

.info {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 18px;
  color: #272142;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 64px;
  color: #000000;
}

.aboutProject {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 16px;
  color: #272142;
  line-height: 1.5;
}

.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.project-descriptions-women {
  padding: 120px 60px;
}

.project-descriptions {
  padding: 20px 40px;
}

.text-uppercase p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.container-foto {
  background: #f9f7fe;
}

.foto {
  width: 700px !important;
  height: auto !important;
}
.foto-women {
  width: auto !important;
  height: 560px !important;
}

#contact {
  text-align: center;
  background: #f9f7fe;
}

.fa-brands {
  margin: 10px;
}
.messenger {
  text-align: center;
  color: blueviolet;
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }
  .project-descriptions,
  .project-descriptions-women {
    padding: 0;
    text-align: center;
  }
}
